[Unit]
Description=PHC to system clock synchronization
After=ptp4l.service

[Service]
Type=simple
ExecStart=/usr/local/bin/phc2sys-safe-start
Restart=on-failure
RestartSec=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target