[Unit]
Description=PipeWire System-Wide Service
After=sound.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/pipewire
ExecStart=/usr/bin/pipewire
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target