[Unit]
Description=PipeWire PulseAudio System-Wide Service
After=pipewire-system.service wireplumber-system.service
Requires=pipewire-system.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/pulse
ExecStart=/usr/bin/pipewire-pulse
Environment="PULSE_RUNTIME_PATH=/run/pulse"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target